<div class="animate__animated animate__fadeIn animate__faster">
    <h2>Por Mercado</h2>
    <hr>

    <div class="row">
        <div class="col">
            <app-por-mercado (onBuscarDivisa)="valorPorMercado($event)"></app-por-mercado>
        </div>
    </div>
    <br>
    <div *ngIf="verInformacion"
    class="row">
    <div class="col">
        <app-ultimos-valores [lastValues]="dataDivisa"></app-ultimos-valores>
    </div>
</div>

</div>


