<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Unidad</th>
            <th>Valor</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let valor of data; let i = index"
            class="animate__animated animate__fadeIn animate__faster"
        >
        <td>{{ i + 1 }}</td>
        <td>
            {{ valor.key | titlecase }}
        </td>
        <td>
            {{ valor.unit | titlecase  }}
        </td>
        <td>
            {{ valor.value == null ? 'Sin Informacion' : (valor.unit != "porcentual" ? '$' + valor.value : valor.value + '%') }}
        </td>
        </tr>
    </tbody>
</table>