
<input [formControl]="calendarioControl" matInput [matDatepicker]="calendario" placeholder="Selecciona una fecha" style="display: inline; width: 300px;" disabled="false" >
<mat-datepicker-toggle matSuffix [for]="calendario"></mat-datepicker-toggle>
<mat-datepicker #calendario disabled="false"></mat-datepicker>   
