<h2>Busquedas</h2>
<hr>
<ul class="list-group">
    <li routerLink=""
        routerLinkActive="active"
        [routerLinkActiveOptions]= "{ exact: true }"
        class="list-group-item">Ultimos Valores</li>
    <li routerLink="search/:{id=''}"
        routerLinkActive="active" 
        class="list-group-item">Por Mercado</li>
    <li routerLink="date" 
        routerLinkActive="active" 
        class="list-group-item">Por Fecha</li>
</ul>