<div class="animate__animated animate__fadeIn animate__faster">
    <h5> Seleccione la divisa </h5>
    
    <div class="row">
        <div class="col">
            <button 
                *ngFor= "let divisa of divisas"
                [class]= "getClaseCSS(divisa)"
                (click)= "buscarDivisa( divisa )"
                >
                    {{ divisa | titlecase }}
            </button>
        </div>
    </div>
</div>
