<div class="animate__animated animate__fadeIn animate__faster">
    <h2>Ultimos Valores del mercado</h2>
    <hr>

    <div class="row" *ngIf="verTabla">
        <div class="col">
            <app-ultimos-valores [lastValues]="ultimosValores"></app-ultimos-valores>
        </div>
    </div>
</div>
