<div class="animate__animated animate__fadeIn animate__faster">
    <h2>Buscar por Fecha</h2>
    <hr>
    <app-por-mercado (onBuscarDivisa)="divisaSeleccionada = $event"></app-por-mercado>
    <br>
    <app-por-fecha (onFecha)="fechaSeleccionada = $event"></app-por-fecha>

    <br><br>
    <button (click)="buscar()" class="btn btn btn-primary"> Buscar</button>
    <br><br>
    <div *ngIf="verInformacion" class="row">
        <div class="col">
            <app-ultimos-valores [lastValues]="dataDivisa"></app-ultimos-valores>
        </div>
    </div>
</div>